.container {
  composes: background from '../../utils/utils.module.css';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  font-size: var(--calcite-font-size--1);
  align-items: center;
}

.leftActionsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.leftActionsContainer h1 {
  font-size: 1.1rem;
  margin: 0;
  padding-left: 6px;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(45deg, #03a9fc, transparent);
}

.rightActionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'bikes stations accidents';
  column-gap: 2rem;
  max-width: min(900px, 80%);
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 700px) {
  .leftActionsContainer {
    justify-content: space-between;
  }
  .labelContainer {
    display: none;
  }
}
