.container {
  height: 150px;
  overflow: auto;
  padding-right: 10px;
}

.container > * {
  margin-bottom: 20px;
}

.notificationCard {
  background-color: rgb(255, 217, 0, 0.2);
  border-radius: var(--border-radius);
  border: 1px solid rgb(255, 217, 0);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.note {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.1rem;
  margin-top: 10px;
  color: var(--calcite-ui-text-3);
}

.legendSymbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
