.container {
  height: 220px;
  overflow: auto;
  padding: 5px 10px 5px 5px;
}

.container > * {
  margin-bottom: 20px;
}

.note {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.1rem;
  margin-top: 10px;
  color: var(--calcite-ui-text-3);
}

.legendSymbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.constructionSite {
  border-radius: 50px 0 0 50px;
  background-color: var(--calcite-ui-foreground-1);
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.constructionSite:hover {
  background-color: rgba(50, 50, 50, 0.6);
}

.constructionSiteImage {
  width: 35px;
  height: 35px;
  margin: 5px 15px 5px 5px;
}

.constructionSiteImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.constructionSiteSchedule {
  font-size: 0.8rem;
}

.constructionSiteTitle {
  font-size: 0.9rem;
  font-weight: bold;
}
