@import 'https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/dark/main.css';

.calcite-mode-dark,
:root {
  --calcite-ui-brand: #03a9fc;
  --calcite-ui-brand-hover: #005a87;
  --border-radius: 10px;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  --margin: 15px;
  --background-color: rgba(0 0 0 / 60%);
  --calcite-font-size--1: 0.85rem;
  --calcite-ui-text-1: rgb(245, 245, 245);
  --calcite-ui-text-2: rgb(230, 230, 230);
  --calcite-ui-text-3: rgb(210, 210, 210);
  --calcite-label-margin-bottom: 0;
  --calcite-ui-foreground-1: rgba(50, 50, 50, 0.3);
  --calcite-ui-border-input: rgb(150, 150, 150);
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--calcite-sans-family);
  color: var(--calcite-ui-text-1);
}

a {
  color: var(--calcite-ui-text-1);
  transition: all 300ms ease-in-out;
}

a:hover {
  color: var(--calcite-ui-brand);
}

/* .esri-popup__main-container {
  background-color: transparent !important;
} */
/* 
.esri-widget {
  background-color: var(--background-color) !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
} */

/* remove outline from map */
/* .esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
} */

/* scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
